<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Invoice</title>
  </head>
  <body>
    <p>some template data: {{invoice.invoiceNo}}, {{user.name}} </p>
    <table border='1px solid black'>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      </tr>
      <tr>
        <td>B</td>
        <td>B</td>
        <td>B</td>
        <td>B</td>
        <td>B</td>
      </tr>
    </table>
  </body>
</html>